<svg ng-cloak ng-attr-width="{{ chartWidth }}" ng-attr-height="{{ chartHeight }}"
     viewPort="0 0 {{ chartWidth }} {{ chartHeight }}" version="1.1"
     xmlns="http://www.w3.org/2000/svg">
    <g class="bars">
        <rect ng-attr-x="0"
              ng-attr-y="{{ $index * (barHeight + barGap) }}"
              ng-attr-width="{{ bar.value / maxValue * chartWidth }}"
              ng-attr-height="{{ barHeight }}"
              ng-repeat="bar in chartData">
            <animate ng-if="barAnimate"
                     attributeType="XML"
                     attributeName="width"
                     from="0" to="{{ bar.value / maxValue * chartWidth }}"
                     dur="{{ barAnimateDuration }}"
                     repeatCount="1"/>
        </rect>
    </g>
    <g class="labels" ng-if="label" fill="white">
        <text ng-repeat="bar in chartData"
              alignment-baseline="middle"
              ng-attr-x="{{ labelXPos }}"
              ng-attr-y="{{ ($index * (barHeight + barGap) + (barHeight / 2)) }}"
              text-anchor="{{ labelTextAnchor }}">
            {{ bar.key }}
        </text>
    </g>
</svg>

